@model InternshipsDEIS.Models.InternshipCandidature

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InternshipCandidature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Details" asp-controller="User" asp-route-id="@Model.CandidateId">@Html.DisplayFor(model => model.Candidate.UserName)</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Internship)
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Details" asp-controller="Internship" asp-route-id="@Model.InternshipId">@Html.DisplayFor(model => model.Internship.Title)</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnfinishedGrades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnfinishedGrades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InternshipCandidatureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
