@model IntershipsDEIS.Models.EvaluateCompany

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EvaluateCompany</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pontuation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pontuation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Justification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Justification)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
