@model IEnumerable<IntershipsDEIS.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Professor"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessConditions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objectives)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessConditions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objectives)
            </td>
            <td>
            @if (this.User.IsInRole("Student"))
            {
               <a class="btn btn-success btn-sm" asp-action="Apply" asp-route-id="@item.ProjectId">Apply</a>
            }
            <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.ProjectId">Details</a>
            @if (this.User.IsInRole("Professor") || this.User.IsInRole("Company"))
            {
               <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a>
               <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            }
            </td>
        </tr>
}
    </tbody>
</table>
