@model IEnumerable<IntershipsDEIS.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if(item.read == false) {
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Sender.UserName)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Title)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Date)</b>
                    </td>
            } else {
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            }
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.MessageId">View</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
